.comment {
  background-color: $white;
  border-radius: 5px;
  border: 1px solid lighten(gray, 40%);
  display: grid;
  grid-template-columns: 4rem repeat(4, 1fr);
  grid-template-areas:
    "li id id tm tm re"
    "li ct ct ct ct ct"
    "li ct ct ct ct ct";
  gap: 1rem 0;
  align-items: center;
  padding: 1rem;
  @include margin-block(0.5rem);
  .likes {
    grid-area: li;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    @extend .flex;
    flex-direction: column;
    justify-content: center;
    width: 2rem;
    background-color: $light-gray;

    input[type="number"] {
      @include padding-block(1rem);
      color: $moderate-blue;
      font-weight: $fnt-bolder;
    }
    > * {
      width: 100%;
      background-color: transparent;
    }
  }
  .identity {
    @extend .flex;
    justify-content: flex-start;
    grid-area: id;
    font-weight: $fnt-bolder;
    color: $dark-blue;
    gap: 1rem;
    img {
      height: 2rem;
    }
  }
  .time {
    grid-area: tm;
  }
  .reply-button {
    grid-area: re;
    background-color: transparent;
    color: $moderate-blue;
    @extend .flex;
    justify-content: center;
    gap: 0.5rem;
    font-weight: $fnt-bolder;
  }
  .content {
    grid-area: ct;
    max-width: 24rem;
  }
}
