div#root {
  display: grid;
}
.container {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
  min-height: 100vh;
}
.comment-section {
  @import "comment";
  .reply-section {
    position: relative;
    margin-left: 60px;
    @include mobile(450px) {
      margin-left: 2rem;
    }
    &::before {
      content: " ";
      position: absolute;
      display: block;
      width: 2px;
      background: darken($light-gray, 5%);
      left: -30px;
      top: 0.7rem;
      bottom: 0.7rem;
      @include mobile(450px) {
        left: -0.5rem;
      }
    }
  }
  .add-my-comment {
    @extend .flex;
    align-items: flex-start;
    background-color: $white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: $block-border;
    @include mobile(450px) {
      margin: 0.5rem;
    }
    .img {
      height: 2.5rem;
    }
    textarea {
      @include margin-inline(1rem);
      padding: 0.5rem;
      flex: 1;
      border: $block-border;
      height: 100px;
      &::-webkit-resizer {
        display: none;
      }
      &::placeholder {
        font-weight: $fnt-bolder;
      }
      &:focus {
        border: none;
        outline: 1px solid $moderate-blue;
        border-radius: 5px;
      }
    }
    button {
      background-color: $moderate-blue;
      border-radius: 5px;
      padding: 0.5rem;
      color: $white;
      text-transform: capitalize;
      @include fade-out(0.5);
    }
    @media (max-width: 450px) {
      display: grid;
      gap: 1rem 0;
      grid-template-columns: repeat(5, 1fr);
      justify-content: space-around;
      textarea {
        order: 1;
        // width: 100%;
        grid-column: 1/-1;
      }
      .img {
        order: 2;
        grid-column: 1/2;
        width: 2.5rem;
        margin-left: 1rem;
      }
      button {
        order: 3;
        grid-column: -2/-1;
        margin-right: 1rem;
      }
    }
  }
  form.edit-form {
    grid-area: ct;
    @extend .add-my-comment;
    align-items: flex-end;
    border: none;
    padding: 0;
    flex-direction: column;
    gap: 1rem;
    height: 150px;
    max-height: 500px;
    @include transition(max-height);
    textarea {
      width: 100%;
      margin: 0;
    }
    @media (max-width: 450px) {
      textarea {
        order: 0;
      }
    }
  }
}
