* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}
body {
  background-color: $light-gray;
  color: $gray-blue;
  font-family: $fnt-family;
  font-size: $fnt-size;
  text-align: start;
  font-weight: 400;
}
h1 {
  font-size: 1.8rem;
}
ul {
  list-style-type: none;
}
hr,
.hr {
  border: none;
}
button {
  cursor: pointer;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input {
  text-align: center;
  background: transparent;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.img {
  > img {
    width: 100%;
    height: 100%;
  }
}
@mixin margin-block($value) {
  margin-top: $value;
  margin-bottom: $value;
}
@mixin margin-inline($value) {
  margin-left: $value;
  margin-right: $value;
}
@mixin padding-block($value) {
  padding-top: $value;
  padding-bottom: $value;
}
@mixin padding-inline($value) {
  padding-left: $value;
  padding-right: $value;
}

//attribution
.attribution {
  // position: absolute;
}
