.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: #00000085;
  transform: scale(0);
  .modal-content {
    position: absolute;
    background-color: $white;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 18rem;
    max-width: 20rem;
    padding: 2rem;
    h1 {
      @include margin-block(1rem);
    }
    footer {
      @extend .flex;
      @include margin-block(1rem);
      button {
        padding: 0.7rem;
        border-radius: 5px;
        color: $white;
        font-weight: $fnt-bolder;
        text-transform: uppercase;
        white-space: nowrap;
        @include fade-out(0.3);
        &:first-of-type {
          background-color: $dark-blue;
        }
        &:nth-of-type(2) {
          background-color: $soft-red;
        }
      }
    }
  }
}
.modal-show {
  transform: scale(1);
  @include transition(transform);
}
